.activities-section-heading {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 0%;
    text-align: center;

}

.a-h-line {
    width: 12%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.section-heading {
    text-align: center;
    width: auto;
    font-family: 'FS Meridian';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin: 0;

}

.activities-section-heading-container {
    margin-top: 10%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.activity-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    height: 55vh;
    width: 70vw;
    border-radius:40px;

    margin: auto;
    margin-bottom: 7vh;
    background-size:auto ;

}
.activity-title{
    color: #FFFFFF;
    margin: 0 3vw;
   font-family: "FS Meridian";
    font-size: 40px;
}
.activity-text{
    margin: 3vh 3vw;
    color: #FFFFFF;
    font-weight: lighter;
    font-size: 25px;
}
.activity-more{
    font-size: 15px;
    margin-left: 1vw;
}
.activity-more:hover{
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    .activity-title{
        font-size: 25px;
    }
    .activity-text{
        font-size: 15px;
    }
    .activity-more{
        font-size: 12px;
    }

}