.activities-section-heading {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 0%;
    text-align: center;
}

.a-h-line {
    width: 12%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.section-heading {
    text-align: center;
    width: auto;
    font-family: 'FS Meridian';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    margin: 0;
}

.activities-section-heading-container {
    margin-top: 10%;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.activity-picture{
    width: 100%;
    border-radius: 8px;

}

.activities1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0  12rem;
}.activities2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: 0  12rem;
}

.activity{
    align-self: center;
    justify-self: center;
    width: 90%;
}
.rectangle-activity{
    border: 2px solid #993333;
    width: 58.79px;
}
.activity-title{
    font-weight: 600;
    font-size: 35px;
    color: #993333;
}
@media screen and (max-width: 500px) {
    .activities1{
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin: 0  ;
        gap: 0;
    }.activities2{
         display: grid;
         grid-template-columns: 1fr 2fr;
         margin: 0  ;
             gap: 0;
     }
     .activity-title{
         font-size: 25px;
         margin-bottom: 0;
     }
     .activities1 ,.activities2 p{
         font-size: 15px;
     }
    .activity-picture {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
        height: 65%;
        margin-top: 8.5vh;
    }

}