.ActualiteCard__Final {
  position: relative;
}
.ActualiteCard__Wrap {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.ActualiteCard__Container {
  position: relative;
  font-family: "FS Meridian";
  z-index: 0;
  background-color: #ffffff;
  /* margin: 7vh; */
  height: 55vh;
  width: 55vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: all 300ms linear;
}
.ActualiteCard__Img {
  height: 40%;
  width: 100%;
  border-radius: 0 0 30% 30%;
  margin: 0;

  transition: all 300ms linear;
}

.ActualiteCard__Title {
  font-size: 5vh;
  margin-top: 2vh;
  margin-bottom: 1vh;

  transition: all 300ms linear;
}
.ActualiteCard__P {
  margin: 0 2vh;
  font-size: 2vh;
  text-align: center;

  transition: all 300ms linear;
}
.ActualiteCard__Arrow {
  /* margin-top: 1.2rem; */
  height: 14%;
  width: 14%;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  cursor: pointer;

  transition: all 300ms linear;
  position: absolute;
  /* bottom: 3rem; */
  /* z-index: 100; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  left: 43%;
  top: 82%;
  translate: (-50%, -50%);
}
.ActualiteCard__Title--side {
  margin-top: 1vh;
  margin-bottom: 0.8vh;
  font-size: 2.5vh;
}
.ActualiteCard__P--side {
  margin: 0 0.5vh;
  font-size: 1.5vh;
}
.ActualiteCard__Arrow--side {
  /* margin-top: 0.8rem;
  height: 2rem;
  width: 2rem; */
}

.ActualiteCard__Img--left {
  border-radius: 0 0 0 30%;
}
.ActualiteCard__Img--right {
  border-radius: 0 0 30% 0;
}
.ActualiteCard__Img--center {
  height: 40%;
  width: 100%;
  border-radius: 0 0 30% 30%;
  margin: 0;
}
.ActualiteCard__Overlay {
  transition: all 300ms linear;
}
.ActualiteCard__Container--side {
  background-color: #ffffff;
  height: 38vh;
  width: 38vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4%;
}
.ActualiteCard__Overlay--main {
  visibility: none;
}
.ActualiteCard__Overlay--side {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 4%;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(3.7px);
  position: absolute;
  height: 38vh;
  width: 38vh;
  z-index: 100;
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

.ActualiteCard__WrapDetails {
  position: absolute;
  top: 0rem;
  z-index: 0;
  display: none;
}
.back {
  /* padding: 1vh; */
  /* display: flex; */
  display: block;
  background-color: #ffffff00;
}
.back > .ActualiteCard__P {
  /* position: absolute; */
  margin: 2vh;
  text-align: justify;
  top: 50%;
  left: 50%;
  translate: (-50%, -50%);
}
.ActualiteCard__ContainerDetails {
  backdrop-filter: blur(1px) brightness(91%) saturate(95%) opacity(22%);
}
.none > * {
  visibility: hidden;
  opacity: 0;

  transition: visibility 0s linear 300ms, opacity 300ms;
}
.ActualiteCard__ArrowDetails {
  z-index: 0;

  position: absolute;
  transform: rotate(180deg);
  animation: myAnim1 1s ease 0s 1 normal forwards;
}
.ActualiteCard__BackBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  border-radius: 4%;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: rotate(360deg) scale(1.2);
  }

  100% {
    opacity: 1;
    transform: rotate(0) scale(1);
  }
}
@keyframes myAnim1 {
  0% {
    opacity: 0;
    transform: rotate(-360deg) scale(1.2);
  }

  100% {
    opacity: 1;
    transform: rotate(180) scale(1);
  }
}
.front > .ActualiteCard__Arrow {
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 600px) {
}
