.Actualites__Wrap {
  margin-top: 6vh;
  height: 80vh;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  position: relative;
  /* justify-content: start; */
  /* background-color: #4d4d4d31; */
}
.Actualites_SliderContainer {
  width: inherit;
  overflow: visible;
  position: relative;
  /* background-color: #db1010; */
  /* margin: 1vh; */
  z-index: 0;
}

.Actualities__Container {
  min-width: fit-content;
  position: absolute;
  padding: 1rem 0;
  z-index: -100;
  transform: translate(23.8em, 1rem);
}

.Actualites_Title {
  margin-top: 2rem;
  font-family: "FS Meridian";
  color: #4d4d4d;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
}

.Actualities__Back {
  height: 55vh;
  width: 55vh;
  position: absolute;
  background-color: #f9cd7a;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: -200;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Actualities__RightBack {
  transform: translate(-45%, -55%);
}
.Actualities__LeftBack {
  transform: translate(-55%, -45%);
}

.actualities-section-heading-container {
  margin-top: 10%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 600px) {
}
