.Actualites_Wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.Actualites_SliderContainer {
  width: 100%;
  overflow: visible;
  margin: 2rem;
}

.Actualities__Container {
  min-width: fit-content;
  position: absolute;
  padding: 1rem 0;
  z-index: -100;
  transform: translate(23.8em, 1rem);
}

.Actualites_Title {
  margin-top: 2rem;
  font-family: "FS Meridian";
  color: #4d4d4d;
  font-size: 3rem;
  position: absolute;
  top: 2rem;
}
.Actualities__Cards {
  display: flex;
  z-index: 1;
}

.Actualities__MainCard {
  z-index: 100;
  transform: translatex(-40%) scale(0.8);
}

.Actualities__RightBack {
  translate: -1.2rem 11.8rem;
}
.Actualities__LeftBack {
  translate: 1.2rem 9.3rem;
}

.Actualities__Back {
  height: 23rem;
  width: 23rem;
  position: absolute;
  background-color: #f9cd7a;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: -200;
}

@media screen and (max-width: 1300px) {
  .Actualities__Back {
    width: 20rem;
    height: 20rem;
  }
  .Actualities__RightBack {
    translate: -1.2rem 13.5rem;
  }
  .Actualities__LeftBack {
    translate: 1.2rem 10.5rem;
  }
}

@media screen and (max-width: 600px) {
  .Actualities__Back {
    width: 18rem;
    height: 18rem;
  }
  .Actualities__RightBack {
    translate: -1.2rem 14.3rem;
  }
  .Actualities__LeftBack {
    translate: 1.2rem 11.9rem;
  }
}
