
.bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    object-fit: cover;

}

.home-container {
    justify-content: center;
    height: 100vh;
}

.home-text-section {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 23vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primary-heading {
    font-size: clamp(3rem, 6vw, 7rem);
    font-family: "FS Meridian";
    font-weight: bolder;
    max-width: 80%;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

.primary-text {
    font-family: 'SF UI Text Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 43px;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-bottom: 3vw;
}

.fund-button {
    padding: 1rem 2.5rem;
    background-color: #993333;
    font-family: 'SF UI Text Regular';
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3rem;

}

.contact-button {
    padding: 1rem 1.5rem;
    background-color: transparent;
    font-family: 'SF UI Text Regular';
    border-color: white;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3rem;

}

.buttons {
    display: flex;
    align-content: space-between;
}
@media screen and (max-width: 500px) {
    .primary-heading{
        font-size: clamp(2rem, 6vw, 7rem);
        margin-top: 10%;
    }
    .primary-text {
        font-size: 13px;
        line-height: 22px;
        text-align: center;
        margin: 15% 10% 3vw;
    }
    .fund-button{
        padding: 0.4rem 0.6rem;
        font-size: 0.6rem;
        width: 100px;
        height: 40px;
    }
    .contact-button{
        padding: 0.4rem 0.6rem;
        font-size: 0.6rem;
        width: 100px;
        height: 40px;

    }
    .buttons{margin-top: 10%}


}