
@media only screen and (min-width: 500px) and (max-width:992px ) {


}
@media only screen and (min-width: 992px) {


}


.logo {
    max-width: 30%;
    height: auto;
    max-height: 200px;
}
.navbar-logo-container{
    display: flex;
    align-items: center;
}
.navbar-logo-container :hover{
    cursor: pointer;
}
.nav-element:hover {cursor: pointer}
.nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    max-height: 100px;
    padding-left: 50px ;

}

.sticky{
    width: 100%;
    position: fixed;
    background: rgba(245, 245, 245, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    max-height: 100px;
    padding-left: 50px ;
    z-index: 1;
}

.navbar-links-container, .nav-element {
    margin-right: 3rem;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: "FS Meridian";

}
.nav-element:hover{
    color: #F8C159;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.navbar-links-container-sticky, .nav-element-sticky {
    margin-right: 3rem;
    text-decoration: none;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    font-family: "FS Meridian";

}
.nav-element-sticky-hovered{
    opacity: 0.5;
}
.navbar-logos-container {
    margin-right: 5rem;
    display : flex;
    align-content: space-between;
}


.logo-element{
    margin-right: 1.5rem;
}

.logo-element-hovered{
    margin-right: 1.5rem;
    opacity: 0.6;
}

.navbar-menu-container {
    display: none;
}
.flag-container{
    display: flex;
    align-content: center;
    gap: 0.75rem;
    padding-right: 6rem;
}

.flag-icon{
    width: 1.5rem;
    opacity: 0.7;
}

.flag-icon-hover{
opacity: 1;
    width: 1.5rem;
    cursor: pointer;
}
@media only screen and (max-width: 500px){
    .navbar-logo-container{
        display: inline;
        width: 20%;

    }
    .logo{
        width: 100%;
        max-width: none;
    }
    .nav{
        padding-left: 5%;
    }
    .navbar-links-container{
        order: 4;
    }
    .navbar-logos-container{
        order: 3;
        margin-left:4rem;
        margin-right: 1rem;
    }
  .flag-container{
      padding-right: 0;
  }
  .flag-icon{
      width: 1rem
  ;
  }
    .flag-icon-hover{
        width: 1rem
    ;
    }
    .social-icons{
        width: 1rem
    }
    .logo-element{
        margin-right: 1rem;
    }
   .nav-element{
       margin-right: 1rem;
       font-size: 9px;
   }
    .navbar-links-container{
        margin-right: auto;
        margin-left:auto ;

    }
    .primary-text {

        font-size: 9px;
        line-height: 23px;
        text-align: center;
        margin: 8% 10% 3vw;
    }

   .sticky{
       display: none;
   }
}
