.cards {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(0px 22px 9px rgba(0, 3, 0, 0.01)) drop-shadow(0px 12px 7px rgba(0, 0, 0, 0.05)) drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.09)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.1)) drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.1));
    width: 20%;
    height: 100%;
    background: #FDECCD;
    border-radius: 10px;
}

.cards:hover{
    background: #993333;
    color: white;
}

.container1 {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    gap: 40px;
    height: 47vh;
}

.icon {
    margin-top: 15%;
    margin-bottom: 7%;
    box-sizing: border-box;
    background: #FFFFFF;
    width: 36%;
    height: 33%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon::after {
    content: "";
    display: block;
    padding-bottom: 100%;

}

.number-title {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: #252A34;
    margin-bottom: 10%;
    font-family: "FS Meridian";
}

.number-title-hovered{
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 10%;
    font-family: "FS Meridian";
}

.title2 {
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: #555555;


}

.numbers-section-heading {
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 33%;
    gap: 5%;
    text-align: center;
    font-weight: 750;
    font-size: 25px;
}

.h-line {
    width: 25%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.4);
}

.section-heading {
    text-align: center;
    margin: auto;
    width: 37%;
    font-family: 'FS Meridian';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;


}

.numbers-section-heading-container {
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}