.ProjectsCard__Wrapper {
  width: 85vw;
  height: 65vh;
  position: relative;

}
.ProjectsCard__Overlay {
  position: absolute;
  z-index: 2;
  border-radius: 1.5rem;
}
.ProjectsCard__Main {
  position: relative;
  width: 85vw;
  height: 65vh;
  border-radius: 1.5rem;


}
.ProjectsCard__Title{
  position: relative;
  z-index: 3;
  display: flex;
justify-content: center;
  align-items: center;
  gap: 30%;
  width: 100%;
  height: 30%;
  font-size: 50px;
  color: white;
font-family: 'FS Meridian';
  animation: fadeEntrance 1s ease 0s 1 normal forwards;

}



.ProjectsCard__DetailsBtn--Container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* background-color: #ff0d0d; */
 top: 75%;
}


.ProjectsCard__DetailsBtn {
  min-width: 11vw;
  min-height: 5vh;
  margin-right: 7vh;
  cursor: pointer;
  border-radius: 5rem;
  border: white solid 1px;
  font-family: "FS Meridian";
  font-weight: 100;
  background-color: rgba(114, 99, 99, 0);
  color: white;
  font-size: 2vh;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}
.ProjectsCard__DonateBtn {
  background-color: #993333;
  border: #993333 solid 1px;
  margin-right: 2vh;
}
.Projects__TitleDetail{
  position: absolute;
  width: 100%;
  top: 16%;
  z-index: 4;
  font-size: 40px;
  color: white;
  font-family: 'FS Meridian';
text-align: left;
  padding-left: 5%;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}
.ProjectsCard__DetailsCard {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 1.5rem;
  background-color: rgba(17, 53, 153, 0.26);
  opacity: 0.26;

  bottom: 0px;
  z-index: 4;


}

.ProjectsCard__Detail {
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}

.ProjectsCard__DetailsCard > p {

  margin: 2rem 3rem;
  font-family: "FS Meridian";
  color: #FFFFFF;
  font-size: 1rem;
  letter-spacing: 2cap;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
  text-align: left;
}


.ProjectsCard__DetailsClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  margin: 0;
  padding: 0;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
  cursor: pointer;
}

.ProjectsCard__None {
  display: none;
  animation: fadeExit 1s ease 0s 1 normal forwards;
}

@keyframes fadeEntrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeExit {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1300px) {
  .ProjectsCard__Wrapper {
    width: 85vw;
    height: 50vh;
  }

  .ProjectsCard__Main {
    width: 85vw;
    height: 50vh;
  }
  .ProjectsCard__DetailsBtn--Container {
    top: 40vh;
  }
}

@media screen and (max-width: 800px) {
  .ProjectsCard__Wrapper {
    width: 85vw;
    height: 38vh;
  }

  .ProjectsCard__Main {
    width: 85vw;
    height: 38vh;
  }
  .ProjectsCard__DetailsBtn--Container {
    top: 30vh;
  }
}

@media screen and (max-width: 500px) {
  .ProjectsCard__Main{
    width: 100vw;
    height: 80vh;
  }
  .ProjectsCard__Wrapper {
    width: 100vw;
    height: 100vh;
  }
  .ProjectsCard__DetailsBtn--Container{
    top: 50vh;
  }
  .ProjectsCard__Title{
    flex-direction: column;
  }
  .ProjectsCard__DonateBtn{width: 14vh }
    .ProjectsCard__DetailsBtn{width: 14vh;margin-right:2vh}
.ProjectsCard__DetailsCard{overflow: auto}

}
