.ProjectsCard__Wrapper {
  width: inherit;
  height: inherit;
  /* background-color: aqua; */
  position: relative;
}
.ProjectsCard__Overlay {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.301);
  width: inherit;
  height: inherit;
}
.ProjectsCard__Main {
  width: inherit;
  height: inherit;
  border-radius: 1.5rem;
}
.ProjectsCard__DetailsBtn--Container {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #ff0d0d; */
}

.ProjectsCard__DetailsBtn {
  min-width: 11vw;
  min-height: 5vh;
  margin-right: 7vh;
  cursor: pointer;
  border-radius: 5rem;
  border: white solid 1px;
  font-family: "FS Meridian";
  font-weight: 100;
  background-color: rgba(114, 99, 99, 0);
  color: white;
  font-size: 2vh;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}
.ProjectsCard__DonateBtn {
  background-color: #993333;
  border: #993333 solid 1px;
  margin-right: 2vh;
}
.ProjectsCard__DetailsCard {
  position: absolute;
  width: inherit;
  height: fit-content;
  max-height: 100%;
  border-radius: 1.5rem;
  background-color: rgba(17, 53, 153, 0.26);
  opacity: 0.26;
  overflow: hidden;

  bottom: 0px;
  z-index: 4;
}
.ProjectsCard__Detail {
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}

.ProjectsCard__DetailsCard > p {
  margin: 2rem 3rem;
  text-align: justify;
  font-family: "FS Meridian";
  color: #fffcfc;
  font-size: 1rem;
  letter-spacing: 1cap;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
}

.ProjectsCard__DetailsClose {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 1rem;
  max-height: 1rem;
  margin: 0;
  padding: 0;
  animation: fadeEntrance 1s ease 0s 1 normal forwards;
  cursor: pointer;
}

.ProjectsCard__None {
  animation: fadeExit 1s ease 0s 1 normal backwards;
  display: none;
}
.ProjectsCard__None1 {
  display: none;
}

@keyframes fadeEntrance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeExit {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 1300px) {
  /* .ProjectsCard__Wrapper {
    width: 85vw;
    height: 60vh;
  }

  .ProjectsCard__Main {
    width: 85vw;
    height: 60vh;
  }
  .ProjectsCard__DetailsBtn--Container {
    top: 40vh;
  } */
}

@media screen and (max-width: 800px) {
  /* .ProjectsCard__Wrapper {
    width: 85vw;
    height: 38vh;
  }

  .ProjectsCard__Main {
    width: 85vw;
    height: 38vh;
  }
  .ProjectsCard__DetailsBtn--Container {
    top: 30vh;
  } */
}

@media screen and (max-width: 600px) {
}
