.Slider__SwiperSlide {
  /* background-color: #5c1f1f54; */
  /* width: inherit; */
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  overflow: visible;
}
.Slider__Swiper {
  /* background-color: rgba(207, 126, 19, 0.507); */
  z-index: -1;
}
.Slider_Pagination {
  display: flex;
  gap: 0.4rem;
  margin-top: 2vh;
  /* background-color: #5c1f1f; */
  /* position: relative; */
  /* bottom: 5rem; */
  width: 100%;
  justify-content: center;
}
.Slider_PaginationCercle {
  background-color: #878585;
  width: 2vh;
  height: 2vh;
  border-radius: 1vh;
  transition: all 300ms linear;
}
.Slider_PaginationCercleSelected {
  width: 4vh;
  background-color: #5c1f1f;
  transition: all 300ms ease-in;
}
.Silder_ArrowsWrapper {
  position: absolute;
  display: flex;
  /* background-color: blue; */
  width: 97%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Slider__Arrow {
  z-index: 100;
  /* position: absolute; */
  cursor: pointer;
  /* z-index: 1; */

  /* top: 50rem; */
}
.Slider__ArrowRight {
  /* translate: 95vw -21rem; */
}
.Slider__ArrowLeft {
  /* translate: 2vw -21rem; */
}

@media screen and (max-width: 1300px) {
}

@media screen and (max-width: 1100px) {
  .Silder_ArrowsWrapper {
    display: none;
  }
}

@media screen and (max-width: 600px) {
}
